---
import Header from "../components/Header.astro";
import Navbar from "../components/Navbar.astro";
import Scripts from "../components/Scripts.astro";

---

<!doctype html>
<html lang="en">
  <head>
   
    <Header />
  </head>

  <body>
    <Navbar />
  

    <main>
      <slot />
    </main>
<!-- 
    <a href="#" class="top">
      <i class="fa-solid fa-arrow-up fa-3x"></i>
    </a> -->

 
    <Scripts />

  </body>
</html>